<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.MemberPageModel"-->
<head>
    <title>Bookish - Members</title>

    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/bootstrap.min.css"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">
    <!-- This element is replaced by the HTML in fragments/navbar.html -->
</div>

<div class="container">
    <h2 th:text="${model.member.getFullName()}"></h2>
    <div class="accordion" id="options">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Edit User Details
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#options">
                <div class="card-body">
                    <form th:action="@{/members/edit-member}" method="post" id="editMember">
                        <div class="form-group">
                            <label for="editMember">First Name</label>
                            <input type="text" name="firstName" class="form-control" th:value="${model.member.firstName}">
                        </div>

                        <div class="form-group">
                            <label for="editMember">Second Name</label>
                            <input type="text" name="secondName" class="form-control" th:value="${model.member.secondName}">
                        </div>
                        <div class="form-group">
                            <label for="editMember">Telephone Number</label>
                            <input type="tel" name="telephoneNumber" class="form-control" th:value="${model.member.telephoneNumber}">
                        </div>
                        <div class="form-group">
                            <label for="editMember">Email Address</label>
                            <input type="email" name="emailAddress" class="form-control" th:value="${model.member.emailAddress}">
                        </div>
                        <input type="hidden" th:value="${model.member.id}" name="id">
                        <button type="submit" class="btn btn-primary">Update Details</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Current Loans
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#options">
                This feature hasn't been implemented yet
            </div>
        </div>
    </div>

</div>

</body>
</html>